<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/menu :: head"></head>
<body>

	<div id="i18n_eliminar_cliente" th:text="#{text.cliente.eliminarOk}"
		style="display: none;"></div>

	<header th:replace="layout/menu :: header"></header>

	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/create}" 
						class="btn btn-primary btn-xs" th:text="#{text.cliente.crear}">Nuevo cliente</a>
					<a class="btn btn-outline-warning btn-xs float-right mx-1" 
						th:href="@{'/listar'(format=csv)}">CSV</a>
					<a class="btn btn-outline-success btn-xs float-right mx-1" 
						th:href="@{'/listar'(format=xml)}">XML</a>
					<a class="btn btn-outline-danger btn-xs float-right mx-1" 
						th:href="@{'/listar'(format=json)}">JSON</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th th:text="#{text.cliente.nombre}">Nombre</th>
							<th th:text="#{text.cliente.apellido}">Apellido</th>
							<th th:text="#{text.cliente.email}">Email</th>
							<th th:text="#{text.cliente.fechaRegistro}">Fecha</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c: ${clientes}">
							<td>
								<a class="btn btn-primary" th:href="@{/ver/} + ${c.id}" 
									th:text="${c.id}"></a>
							</td>
							<td th:text="${c.nombre}"></td>
							<td th:text="${c.apellido}"></td>
							<td th:text="${c.email}"></td>
							<td th:text="${c.fechaRegistro}"></td>
							<td>
								<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success btn-xs" 
									th:href="@{'/factura/form/'}+${c.id}" th:text="#{text.cliente.factura.crear}"></a>
								<a class="btn btn-primary btn-xs" th:href="@{/edit/} + ${c.id}" 
									th:text="#{text.cliente.editar}"></a> 
								<a class="btn btn-danger btn-xs" th:href="@{/delete/} + ${c.id}" 
									th:text="#{text.cliente.eliminar}"
									onclick="return confirm(document.getElementById('i18n_eliminar_cliente').innerHtml);"></a>
							</td>
						</tr>
					</tbody>
				</table>
				
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>

	<br />
	<br />
	<footer th:replace="layout/menu :: footer"></footer>
</body>
</html>